#root {
  max-width: 1280px;
  margin: 0 auto;
}
body{
  background-color: lavender;
  color: black;
}
h1, h2, h3, h4, h5, h6{
  font-family: Arial, sans-serif;
  color: navy;
}
h1{
  text-align: center;
}
.banner{
  display: flex;
  justify-content: center;
  align-items: center;
}
#favorite{
  color: blue;
}

#reasons{
  color: darkolivegreen;
}
.collapse, .collapse td, .collapse th {
  border: 1px solid black;
  border-collapse: collapse;
}
.collapse td, .collapse th {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
.split-screen {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.left-screen, .right-screen {
  min-width: 0;
  flex: 1;
  padding: 20px;
}
.left-screen img, .right-screen img {
  max-width: 100%;
}
caption{
  color: navy;
  font-weight: bold;
}
textarea {
  width: 100%;
}